USE [master]
GO
/****** Object:  Database [Lordle]    Script Date: 12/15/2023 8:49:25 PM ******/
CREATE DATABASE [Lordle]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Lordle', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Lordle.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Lordle_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Lordle_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Lordle].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Lordle]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/15/2023 8:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[CreateDate] [date] NULL,
	[LastLoginDate] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Words]    Script Date: 12/15/2023 8:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[WordId] [int] IDENTITY(1,1) NOT NULL,
	[Word] [nchar](50) NOT NULL,
	[Type] [int] NOT NULL,
 CONSTRAINT [PK_Words] PRIMARY KEY CLUSTERED 
(
	[WordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[GetEasyWord]    Script Date: 12/15/2023 8:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[GetEasyWord] as 
select TOP 1 Word from Words where Type=1 Order by NewID()
GO
/****** Object:  StoredProcedure [dbo].[GetHardWord]    Script Date: 12/15/2023 8:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[GetHardWord] as 
select TOP 1 Word from Words where Type=3 Order by NewID()
GO
/****** Object:  StoredProcedure [dbo].[GetMediumWord]    Script Date: 12/15/2023 8:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[GetMediumWord] as 
select TOP 1 Word from Words where Type=2 Order by NewID()
GO
/****** Object:  StoredProcedure [dbo].[getWordsTable]    Script Date: 12/15/2023 8:49:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[getWordsTable] as 
select *from Words Go;
GO
USE [master]
GO
