USE [master]
GO
/****** Object:  Database [midle]    Script Date: 11/3/2023 11:21:06 PM ******/
CREATE DATABASE [midle]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'შუალეფურის ბაზა_Data', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\შუალეფურის ბაზა.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'შუალეფურის ბაზა_Log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\შუალეფურის ბაზა.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [midle].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [midle]
GO
/****** Object:  Table [dbo].[AUT_BOOKS]    Script Date: 11/3/2023 11:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUT_BOOKS](
	[BOOK_ID] [int] NOT NULL,
	[AUTHOR_ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTHOR]    Script Date: 11/3/2023 11:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHOR](
	[AUTHOR_ID] [int] NOT NULL,
	[FNAME] [nchar](100) NOT NULL,
	[LNAME] [nchar](100) NOT NULL,
	[YEAR] [date] NOT NULL,
 CONSTRAINT [PK_AUTHOR] PRIMARY KEY CLUSTERED 
(
	[AUTHOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOK_HIST]    Script Date: 11/3/2023 11:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK_HIST](
	[BOOK_ID] [int] NULL,
	[HB_ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nchar](100) NOT NULL,
	[DESCRIBTION] [nchar](1000) NULL,
	[YEAR] [date] NOT NULL,
	[AUTHOR] [nchar](100) NOT NULL,
 CONSTRAINT [PK_BOOK_HIST] PRIMARY KEY CLUSTERED 
(
	[HB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOOKS]    Script Date: 11/3/2023 11:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOKS](
	[BOOK_ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [nchar](100) NOT NULL,
	[DESCRIBTION] [nchar](1000) NULL,
	[IMG_ID] [int] NOT NULL,
	[YEAR] [nchar](100) NOT NULL,
	[AUT_BOOK_ID] [nchar](100) NOT NULL,
	[book_type] [nchar](100) NOT NULL,
 CONSTRAINT [PK_BOOKS] PRIMARY KEY CLUSTERED 
(
	[BOOK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGE_HIST]    Script Date: 11/3/2023 11:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGE_HIST](
	[HI_ID] [int] IDENTITY(1,1) NOT NULL,
	[IMAGE] [image] NOT NULL,
 CONSTRAINT [PK_IMAGE_HIST] PRIMARY KEY CLUSTERED 
(
	[HI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMAGES]    Script Date: 11/3/2023 11:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGES](
	[IMG_ID] [int] IDENTITY(1,1) NOT NULL,
	[IMAGE] [image] NULL,
 CONSTRAINT [PK_IMAGES] PRIMARY KEY CLUSTERED 
(
	[IMG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MANAGER]    Script Date: 11/3/2023 11:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANAGER](
	[MANAGER_ID] [int] IDENTITY(1,1) NOT NULL,
	[PASS] [nchar](100) NULL,
	[EMAIL] [nchar](100) NOT NULL,
 CONSTRAINT [PK_MANAGER] PRIMARY KEY CLUSTERED 
(
	[MANAGER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AUT_BOOKS]  WITH CHECK ADD  CONSTRAINT [FK_AUT_BOOKS_AUTHOR] FOREIGN KEY([AUTHOR_ID])
REFERENCES [dbo].[AUTHOR] ([AUTHOR_ID])
GO
ALTER TABLE [dbo].[AUT_BOOKS] CHECK CONSTRAINT [FK_AUT_BOOKS_AUTHOR]
GO
ALTER TABLE [dbo].[AUT_BOOKS]  WITH CHECK ADD  CONSTRAINT [FK_AUT_BOOKS_BOOKS] FOREIGN KEY([AUTHOR_ID])
REFERENCES [dbo].[BOOKS] ([BOOK_ID])
GO
ALTER TABLE [dbo].[AUT_BOOKS] CHECK CONSTRAINT [FK_AUT_BOOKS_BOOKS]
GO
/****** Object:  StoredProcedure [dbo].[SelectAllBooks]    Script Date: 11/3/2023 11:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE PROCEDURE [dbo].[SelectAllBooks]
AS
SELECT * FROM BOOKS
GO;
GO
/****** Object:  StoredProcedure [dbo].[SelectAllCustomers]    Script Date: 11/3/2023 11:21:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectAllCustomers]
AS
SELECT * FROM Customers
GO;
GO
USE [master]
GO
