USE [master]
GO
/****** Object:  Database [TCMS]    Script Date: 2/2/2024 7:50:02 PM ******/
CREATE DATABASE [TCMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TCMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TCMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TCMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TCMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TCMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TCMS]
GO
/****** Object:  Table [dbo].[Actions]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actions](
	[ActionId] [int] NOT NULL,
	[ActionName] [nvarchar](100) NULL,
	[ActionParameter] [text] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Actions] PRIMARY KEY CLUSTERED 
(
	[ActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CasesToRoles]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CasesToRoles](
	[UserId] [int] NOT NULL,
	[CaseId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CasesToSteps]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CasesToSteps](
	[CaseToStepId] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NULL,
	[UserId] [int] NULL,
	[StepId] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_CasesToSteps] PRIMARY KEY CLUSTERED 
(
	[CaseToStepId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CasesToValidations]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CasesToValidations](
	[CaseToValidationId] [int] IDENTITY(1,1) NOT NULL,
	[CaseId] [int] NULL,
	[ValidationId] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_CasesToValidations] PRIMARY KEY CLUSTERED 
(
	[CaseToValidationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Config]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Config](
	[ConfigId] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Value] [text] NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Interfaces]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Interfaces](
	[InterfaceType] [int] NOT NULL,
	[InterfaceName] [nvarchar](50) NULL,
	[ProjectId] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Interfaces] PRIMARY KEY CLUSTERED 
(
	[InterfaceType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectName] [nvarchar](50) NOT NULL,
	[Image] [text] NULL,
	[Description] [text] NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Projects] PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sections]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[SectionId] [int] NOT NULL,
	[SuitId] [int] NOT NULL,
	[SectionName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Sections] PRIMARY KEY CLUSTERED 
(
	[SectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StepParameters]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StepParameters](
	[StepParameterId] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[DataType] [int] NULL,
	[SqlExpression] [text] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_StepParameters] PRIMARY KEY CLUSTERED 
(
	[StepParameterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Steps]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Steps](
	[StepId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[Description] [text] NULL,
	[ActionId] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
	[Description1] [text] NULL,
 CONSTRAINT [PK_Steps] PRIMARY KEY CLUSTERED 
(
	[StepId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StepsToStepParameters]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StepsToStepParameters](
	[StepsToStepParameters] [int] NOT NULL,
	[StepId] [int] NULL,
	[StepParameterId] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_StepsToStepParameters] PRIMARY KEY CLUSTERED 
(
	[StepsToStepParameters] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubSections]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubSections](
	[SubSectionId] [int] NOT NULL,
	[ParentSectionId] [nchar](10) NULL,
	[SectionId] [int] NULL,
	[SubSectionName] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_SubSections] PRIMARY KEY CLUSTERED 
(
	[SubSectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suits]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suits](
	[SuitId] [int] NOT NULL,
	[SuitName] [nvarchar](50) NOT NULL,
	[InterfaceType] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Suits] PRIMARY KEY CLUSTERED 
(
	[SuitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestCases]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestCases](
	[CaseId] [int] IDENTITY(1,1) NOT NULL,
	[Scenario] [text] NULL,
	[SectionId] [int] NULL,
	[SuitId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreateDate] [date] NULL,
 CONSTRAINT [PK_TestCases] PRIMARY KEY CLUSTERED 
(
	[CaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ToAction]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ToAction](
	[ToActionId] [int] NOT NULL,
	[PartnerId] [int] NULL,
	[ActionId] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDelete] [bit] NULL,
 CONSTRAINT [PK_ToAction] PRIMARY KEY CLUSTERED 
(
	[ToActionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [int] NOT NULL,
	[ProjectId] [int] NOT NULL,
	[Role] [text] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ValidationParameters]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValidationParameters](
	[ValidationParameterId] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[value] [text] NULL,
	[Type] [int] NULL,
	[SqlExpression] [text] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_ValidationParameters] PRIMARY KEY CLUSTERED 
(
	[ValidationParameterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Validations]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Validations](
	[ValidationId] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[Description] [text] NULL,
	[ActionId] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Validations] PRIMARY KEY CLUSTERED 
(
	[ValidationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ValidationsToValidationParameters]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ValidationsToValidationParameters](
	[ValidationToValidationParameterId] [int] NOT NULL,
	[ValidationId] [int] NULL,
	[ValidationParameterId] [int] NULL,
	[IsActive] [bit] NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_ValidationsToValidationParameters] PRIMARY KEY CLUSTERED 
(
	[ValidationToValidationParameterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CasesToRoles]  WITH CHECK ADD  CONSTRAINT [FK_CasesToRoles_TestCases] FOREIGN KEY([CaseId])
REFERENCES [dbo].[TestCases] ([CaseId])
GO
ALTER TABLE [dbo].[CasesToRoles] CHECK CONSTRAINT [FK_CasesToRoles_TestCases]
GO
ALTER TABLE [dbo].[CasesToRoles]  WITH CHECK ADD  CONSTRAINT [FK_CasesToRoles_UserRoles] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserRoles] ([UserId])
GO
ALTER TABLE [dbo].[CasesToRoles] CHECK CONSTRAINT [FK_CasesToRoles_UserRoles]
GO
ALTER TABLE [dbo].[CasesToSteps]  WITH CHECK ADD  CONSTRAINT [FK_CasesToSteps_Steps] FOREIGN KEY([StepId])
REFERENCES [dbo].[Steps] ([StepId])
GO
ALTER TABLE [dbo].[CasesToSteps] CHECK CONSTRAINT [FK_CasesToSteps_Steps]
GO
ALTER TABLE [dbo].[CasesToSteps]  WITH CHECK ADD  CONSTRAINT [FK_CasesToSteps_TestCases] FOREIGN KEY([CaseId])
REFERENCES [dbo].[TestCases] ([CaseId])
GO
ALTER TABLE [dbo].[CasesToSteps] CHECK CONSTRAINT [FK_CasesToSteps_TestCases]
GO
ALTER TABLE [dbo].[CasesToValidations]  WITH CHECK ADD  CONSTRAINT [FK_CasesToValidations_TestCases] FOREIGN KEY([CaseId])
REFERENCES [dbo].[TestCases] ([CaseId])
GO
ALTER TABLE [dbo].[CasesToValidations] CHECK CONSTRAINT [FK_CasesToValidations_TestCases]
GO
ALTER TABLE [dbo].[CasesToValidations]  WITH CHECK ADD  CONSTRAINT [FK_CasesToValidations_Validations] FOREIGN KEY([ValidationId])
REFERENCES [dbo].[Validations] ([ValidationId])
GO
ALTER TABLE [dbo].[CasesToValidations] CHECK CONSTRAINT [FK_CasesToValidations_Validations]
GO
ALTER TABLE [dbo].[Interfaces]  WITH CHECK ADD  CONSTRAINT [FK_Interfaces_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([ProjectId])
GO
ALTER TABLE [dbo].[Interfaces] CHECK CONSTRAINT [FK_Interfaces_Projects]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_Suits] FOREIGN KEY([SuitId])
REFERENCES [dbo].[Suits] ([SuitId])
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_Suits]
GO
ALTER TABLE [dbo].[StepsToStepParameters]  WITH CHECK ADD  CONSTRAINT [FK_StepsToStepParameters_StepParameters] FOREIGN KEY([StepParameterId])
REFERENCES [dbo].[StepParameters] ([StepParameterId])
GO
ALTER TABLE [dbo].[StepsToStepParameters] CHECK CONSTRAINT [FK_StepsToStepParameters_StepParameters]
GO
ALTER TABLE [dbo].[StepsToStepParameters]  WITH CHECK ADD  CONSTRAINT [FK_StepsToStepParameters_Steps] FOREIGN KEY([StepId])
REFERENCES [dbo].[Steps] ([StepId])
GO
ALTER TABLE [dbo].[StepsToStepParameters] CHECK CONSTRAINT [FK_StepsToStepParameters_Steps]
GO
ALTER TABLE [dbo].[SubSections]  WITH CHECK ADD  CONSTRAINT [FK_SubSections_Sections] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([SectionId])
GO
ALTER TABLE [dbo].[SubSections] CHECK CONSTRAINT [FK_SubSections_Sections]
GO
ALTER TABLE [dbo].[Suits]  WITH CHECK ADD  CONSTRAINT [FK_Suits_Interfaces] FOREIGN KEY([InterfaceType])
REFERENCES [dbo].[Interfaces] ([InterfaceType])
GO
ALTER TABLE [dbo].[Suits] CHECK CONSTRAINT [FK_Suits_Interfaces]
GO
ALTER TABLE [dbo].[TestCases]  WITH CHECK ADD  CONSTRAINT [FK_TestCases_Sections] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([SectionId])
GO
ALTER TABLE [dbo].[TestCases] CHECK CONSTRAINT [FK_TestCases_Sections]
GO
ALTER TABLE [dbo].[TestCases]  WITH CHECK ADD  CONSTRAINT [FK_TestCases_Suits] FOREIGN KEY([SuitId])
REFERENCES [dbo].[Suits] ([SuitId])
GO
ALTER TABLE [dbo].[TestCases] CHECK CONSTRAINT [FK_TestCases_Suits]
GO
ALTER TABLE [dbo].[ToAction]  WITH CHECK ADD  CONSTRAINT [FK_ToAction_Actions] FOREIGN KEY([ActionId])
REFERENCES [dbo].[Actions] ([ActionId])
GO
ALTER TABLE [dbo].[ToAction] CHECK CONSTRAINT [FK_ToAction_Actions]
GO
ALTER TABLE [dbo].[ToAction]  WITH CHECK ADD  CONSTRAINT [FK_ToAction_Steps] FOREIGN KEY([PartnerId])
REFERENCES [dbo].[Steps] ([StepId])
GO
ALTER TABLE [dbo].[ToAction] CHECK CONSTRAINT [FK_ToAction_Steps]
GO
ALTER TABLE [dbo].[ToAction]  WITH CHECK ADD  CONSTRAINT [FK_ToAction_Validations] FOREIGN KEY([PartnerId])
REFERENCES [dbo].[Validations] ([ValidationId])
GO
ALTER TABLE [dbo].[ToAction] CHECK CONSTRAINT [FK_ToAction_Validations]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([ProjectId])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Projects]
GO
ALTER TABLE [dbo].[ValidationsToValidationParameters]  WITH CHECK ADD  CONSTRAINT [FK_ValidationsToValidationParameters_ValidationParameters] FOREIGN KEY([ValidationParameterId])
REFERENCES [dbo].[ValidationParameters] ([ValidationParameterId])
GO
ALTER TABLE [dbo].[ValidationsToValidationParameters] CHECK CONSTRAINT [FK_ValidationsToValidationParameters_ValidationParameters]
GO
ALTER TABLE [dbo].[ValidationsToValidationParameters]  WITH CHECK ADD  CONSTRAINT [FK_ValidationsToValidationParameters_Validations] FOREIGN KEY([ValidationId])
REFERENCES [dbo].[Validations] ([ValidationId])
GO
ALTER TABLE [dbo].[ValidationsToValidationParameters] CHECK CONSTRAINT [FK_ValidationsToValidationParameters_Validations]
GO
/****** Object:  StoredProcedure [dbo].[chartData]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[chartData] @startDate date, @endData date As
select Year(CreateDate) as 'CreateYear', Month(CreateDate) as 'CreateMonth' , count(*) as CreatedCases from TestCases 
where CreateDate between @startDate and @endData group by month(CreateDate),year(CreateDate)

GO
/****** Object:  StoredProcedure [dbo].[chartData1]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[chartData1] @startDate date, @endData date As
select Month(CreateDate) as 'CreateMonth',Year(CreateDate) as 'CreateYear' from TestCases 
where CreateDate between @startDate and @endData 
GO
/****** Object:  StoredProcedure [dbo].[ProjectsQuantity]    Script Date: 2/2/2024 7:50:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[ProjectsQuantity] @isDelete bit  as
select count(*) as 'projectsCount' from projects
GO
USE [master]
GO
